<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymConnect - Duvidas</title>
    <link rel="stylesheet" href="./style.css">
    <style>
    </style>
</head>
<link rel="shortcut icon" href="./images/logo.png" type="imagem" />
<body>  
    <script src="./script.js"></script>
    <div id="menu">
        <h2 id="voltar" onclick="redirecionarParaLink('./home.html')">⇦</h2>
        <h2>DÚVIDAS</h2>
    </div>
    <div id="duvidas_box">
        <form action="" id="enviarDuvida">
            <textarea id="conteudo" class="duvidaescrita" cols="30" rows="10" placeholder="Digite sua dúvida aqui..."></textarea>
            <br>
        <input type="submit" value="Enviar" id="enviar_duvida">
    </form>
    <script src="./enviar_duvida.js"></script>
    </div>
</body>
</html>