<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Treinos</title>
</head>
<body>
<div>
    <h2>Escolha uma parte do corpo:</h2>
    <div id="costas" class="parte-corpo">Costas</div>
    <div id="perna" class="parte-corpo">Perna</div>
    <div id="braco" class="parte-corpo">Braço</div>
    <div id="peito" class="parte-corpo">Peito</div>
</div>

<div id="treino"></div>

<script src="./treinos_predefinidos.js"></script>


</body>
</html>