<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymConnect - Treinos Predefinidos</title>
    <link rel="stylesheet" href="./style.css">
    <style>
    </style>
</head>
<link rel="shortcut icon" href="./images/logo.png" type="imagem" />
<body>
    <script src="./script.js"></script>
    <div id="menu">
        <h2 id="voltar" onclick="redirecionarParaLink('./home.html')">⇦</h2>
        <h2>TREINOS PRE-DEFINIDOS</h2>
    </div>
    <div id="login_box">
        <div id="t">
            <h3>Escolha um grupo muscular:</h3>
            <div id="costas" class="parte-corpo">Costas</div>
            <div id="perna" class="parte-corpo">Perna</div>
            <div id="braco" class="parte-corpo">Braço</div>
            <div id="peito" class="parte-corpo">Peito</div>
        </div>
        <div id="treino_add"></div>
    </div>
        
<script src="./treinos_predefinidos.js"></script>
</body>
</html>