<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymConnect - Treinos Predefinidos</title>
    <link rel="stylesheet" href="./style.css">
    <style>
    </style>
</head>
<link rel="shortcut icon" href="./images/logo.png" type="imagem" />
<body>
    <script src="./script.js"></script>
    <div id="menu">
        <h2 id="voltar" onclick="redirecionarParaLink('./home.html')">⇦</h2>
        <h2>TREINOS PRE-DEFINIDOS</h2>
    </div>
    <div id="dicas_box">
        
        <div id="nutri">
            <h3>NUTRIÇÃO</h3>
            <p>Alimentação balanceada: Consuma uma dieta equilibrada, composta por uma variedade de alimentos nutritivos, incluindo frutas, vegetais, proteínas magras, grãos integrais e gorduras saudáveis. Uma alimentação balanceada fornece os nutrientes essenciais necessários para suportar a saúde geral e o desempenho físico.</p><br>
            <p>Refeições regulares: Faça refeições regulares ao longo do dia para manter os níveis de energia e evitar picos e quedas de açúcar no sangue. Tente comer a cada 3-4 horas para manter o metabolismo funcionando e evitar excessos nas refeições principais.</p><br>
            <p>Proteína adequada: Inclua fontes de proteína magra em todas as refeições para suportar a recuperação muscular e a síntese proteica. Fontes de proteína incluem carne magra, peixe, ovos, laticínios com baixo teor de gordura, legumes e tofu.</p><br>
            <p>Hidratação adequada: Além de água, consuma bebidas isotônicas ou água de coco para repor os eletrólitos perdidos durante o exercício, especialmente se você estiver suando muito. Manter-se bem hidratado é crucial para o desempenho físico e a saúde geral.</p><br>
            <p>Planejamento das refeições: Planeje suas refeições com antecedência para evitar escolhas alimentares impulsivas e pouco saudáveis. Prepare lanches saudáveis, como frutas, vegetais cortados e oleaginosas, para ter à mão quando estiver com fome entre as refeições principais.</p><br>
        </div>
        <div id="treino">
            <h3>TREINO</h3>
            <p>Variedade de exercícios: Inclua uma variedade de exercícios em sua rotina de treino para trabalhar diferentes grupos musculares e evitar o tédio. Alternar entre exercícios de cardio, musculação e exercícios funcionais pode ajudar a maximizar os resultados e manter o interesse no treinamento.</p><br>
            <p>Progressão gradual: Aumente a intensidade do seu treino gradualmente ao longo do tempo. Isso pode ser feito aumentando o peso, o número de repetições ou a duração do exercício. Uma progressão gradual ajuda a evitar lesões e permite que o corpo se adapte ao estresse do treinamento de forma eficaz.</p><br>
            <p>Descanso adequado: Certifique-se de incluir dias de descanso em sua programação de treino para permitir a recuperação muscular. O descanso é essencial para evitar a fadiga excessiva e o risco de lesões. Escute seu corpo e dê-lhe o tempo necessário para se recuperar entre os treinos intensos.</p><br>
            <p>Forma correta: Preste atenção à sua forma durante os exercícios para garantir a eficácia e a segurança do treino. Uma técnica adequada não apenas ajuda a prevenir lesões, mas também maximiza o envolvimento muscular, permitindo que você tire o máximo proveito de cada exercício.</p><br>
            <p>Hidratação: Mantenha-se hidratado antes, durante e após o treino. A água é essencial para manter a função muscular adequada, regular a temperatura corporal e facilitar a recuperação. Beba água o suficiente ao longo do dia e durante o treino para garantir um desempenho ideal.</p><br>
        </div>
    </div>
</body>
</html>